---
# **Conversion Between Data Types**
---

## We can convert the default data types by using the standard type conversion function, for example: 
* ## float()
* ## int()
* ## str()

---
## **float()**
---

### *Convert to float*

In [ ]:
# Input an integer number

3

3

In [ ]:
# Check the data type

type(3)

int

In [ ]:
# Convert integer to float

float(3)

3.0

In [ ]:
# Print the data type for integer to float conversion

print(type(float(3)))

<class 'float'>

---
## **int()**
---

### *Convert to Integer*

In [ ]:
# Input a float number

1.5

In [ ]:
# Check the data type

type(1.5)

float

In [ ]:
# Convert float to integer 
# (Converting float to int will be floor/truncating or omitting the value after the comma)

int(1.5)

1

In [ ]:
# Print the data type for float to integer conversion 

print(type(int(1.5)))

<class 'int'>

---
## **Exercise 1**
---

### Convert the following numbers to integers!

* ### 1.5
* ### 2.3
* ### 5.8

### Convert the following numbers to floats!

* ### 3
* ### 20
* ### 36

---
## **Answer :**
---


### **Convert the following numbers to integers!**

---

* ### 1.5

---

In [13]:
# Input the number 1.5

1.5

1.5

In [14]:
# Check the data type

type(1.5)

float

In [15]:
# Convert to integer

int(1.5)

1

In [16]:
# Print the data type for float to integer conversion

print(type(int(1.5)))

<class 'int'>

---
* ### 2.3
---

In [18]:
# Input the number 2.3

2.3

2.3

In [19]:
# Check the data type

type(2.3)

float

In [20]:
# Convert to integer

int(2.3)

2

In [21]:
# Check the data type for float to integer conversion

type(int(2.3))

int

---
* ### 5.3
---

In [22]:
# Input the number 5.8

5.8

5.8

In [23]:
# Check the data type

type(5.8)

float

In [25]:
# Convert to integer

int(5.8)

5

In [26]:
# Check the data type for float to integer conversion

type(int(5.8))

int

### **Convert the following numbers to floats!**



---
* ### 3


---

In [27]:
# Input the number 3 

3

3

In [28]:
# Check the data type

type(3)

int

In [29]:
# Convert to float

float(3)

3.0

In [30]:
# Check the data type for integer to float conversion

type(float(3))

float



---

* ### 20


---

In [31]:
# Input the number 20

20

20

In [32]:
# Check the data type

type(20)

int

In [33]:
# Convert to float 

float(20)

20.0

In [34]:
# Check the data type for integer to float conversion 

type(float(20))

float



---

* ### 36


---

In [35]:
# Input the number 36

36

36

In [36]:
# Check the data type

type(36)

int

In [37]:
# Convert to float

float(36)

36.0

In [39]:
# Check the data type for integer to float conversion

type(float(36))

float



---
## **string()**


---
### *From-and-to-string conversions are tested and validated.*



---
### **string to float conversion**


---

In [40]:
# Input the string '1.5'

'1.5'

'1.5'

In [42]:
# Check the data type

type('1.5')

str

In [44]:
# Convert to float

float('1.5')

1.5

In [45]:
# Check the data type for string to float conversion

type(float('1.5'))

float



---

### **integer to string conversion**


---

In [ ]:
# Input the integer number 10

10

10

In [46]:
# Check the data type

type(10)

int

In [47]:
# Convert to string

str(10)

'10'

In [48]:
# Check the data type for integer to string conversion

type(str(10))

str



---

### **string to integer with a combination of number and letter**


---

In [49]:
# Input the combination string '2a'

'2a'

'2a'

In [50]:
# Check the data type

type("2a")

str

In [51]:
# Convert to integer

int("2a")

# When the conversion is tested and validated, the result will be an error because invalid literal (2a is not an integer)

ValueError: ignored

---
## **Exercise 2**
---

### Convert the following data types to strings!

* ### 5.9
* ### 4

### Convert the following data types to integers!

* ### 'tiga'
* ### '6.7

### Convert the following data types to floats!

* ### '5.4'
* ### 8
* ### 'sembilan'

---
## **Answer :**
---

### **Convert the following data types to strings!**



---
* ### 5.9


---

In [52]:
# Input the data 5.9

5.9

5.9

In [53]:
# Check the data type

type(5.9)

float

In [54]:
# Convert to string

str(5.9)

'5.9'

In [55]:
# Check the data type for float to string conversion

type(str(5.9))

str



---
* ### 4


---

In [56]:
# Input the data 4

4

4

In [58]:
# Check the data type

type(4)

int

In [59]:
# Convert to string

str(4)

'4'

In [61]:
# Check the data type for integer to string conversion

type(str(4))

str

## **Convert the following data types to integers!**



---
* ### 'tiga'


---

In [62]:
# Input the data 'tiga'

'tiga'

'tiga'

In [63]:
# Check the data type

type("tiga")

str

In [64]:
# Convert to integer

int(tiga)

# When the conversion is tested and validated, the result will be an error because invalid literal (tiga is not an integer)

ValueError: ignored



---

* ### 6.7

---

In [65]:
# Input the data 6.7

6.7

6.7

In [66]:
# Check the data type

type(6.7)

float

In [67]:
# Convert to integer

int(6.7)

6

In [68]:
# Check the data type for float to integer conversion

type(int(6.7))

int



---
* ### '5.4'


---

In [69]:
# Input the data '5.4'

'5.4'

'5.4'

In [71]:
# Check the data type

type('5.4')

str

In [72]:
# Convert to float

float('5.4')

5.4

In [73]:
# Check the data type for string to float conversion

type(float("5.4"))

float



---
* ### 8


---

In [74]:
# Input the data 8

8

8

In [75]:
# Check the data type

type(8)

int

In [76]:
# Convert to float

float(8)

8.0

In [77]:
# Check the data type for integer to float conversion

type(float(8))

float



---

* ### 'sembilan'

---

In [79]:
# Input the data 'sembilan'

'sembilan'

'sembilan'

In [80]:
# Check the data type

type('sembilan')

str

In [81]:
# Convert to float

float('sembilan')

# When the conversion is tested and validated, the result will be an error because could not convert string to float (sembilan is a string)

ValueError: ignored



---

### **Convert string containing mathematical expression to integer**


---

In [190]:
# Input string contains mathematical expression '10+20'

'10+20'

'10+20'

In [191]:
# Check the data type

type('10+20')

str

In [192]:
# Convert to integer

int('10+20')

# The result will contain an error because invalid literal for int()

ValueError: ignored

In [193]:
# To convert string containing mathematical expression we can use eval()

eval('10+20')

30

In [194]:
# Check the data type for string containing mathematical expression to integer conversion

type(eval('10+20'))

int



---

### **Convert string containing mathematical expression to float**


---

In [195]:
# Input the string containing mathematical expression '10+20.5'

'10+20.5'

'10+20.5'

In [196]:
# Check the data type

type('10+20.5')

str

In [197]:
# Convert to float

float('10+20.5')

# The result will contain an error because could not convert string to float using float()

ValueError: ignored

In [198]:
# # To convert string containing mathematical expression we can use eval()

eval('10+20.5')

30.5



---
# **Conversion between advanced data types**


---

## We can also convert any data types to advanced data types (list, tuple, set, dictionary) :

* ## list()
* ## tuple()
* ## set()
* ## dict()

---
## **list()**
---

### *Convert to list*



---


### **Convert tuple to list**

---

In [102]:
# Input the tuple (4,5,6)

(4,5,6)

(4, 5, 6)

In [104]:
# Check the data type

type((4,5,6))

tuple

In [105]:
# Convert to list

list((4,5,6))

[4, 5, 6]

In [106]:
# Check the data type for tuple to list conversion

type(list((4,5,6)))

list



---


### **Convert set to list**

---

In [107]:
# Input the set {4,5,6}

{4,5,6}

{4, 5, 6}

In [108]:
# Check the data type

type({4,5,6})

set

In [109]:
# Convert to list

list({4,5,6})

[4, 5, 6]

In [110]:
# Check the data type for set to list conversion

type(list({4,5,6}))

list



---


### **Convert dictionary to list**

---

In [114]:
# input the dictionary {4: 5, 6: 7}

{4: 5}

{4: 5}

In [115]:
# Check the data type

type({4: 5})

dict

In [116]:
# Convert to list

list({4: 5})

# Dictionary contain of key-value (only the key converted to list)

[4]



---


### **Convert integer to list**

---

In [ ]:
# input the integer number 4

4

In [118]:
# Check the data type

type(4)

int

In [119]:
# Convert to list

list(4)

# The result will be an error because integer object is not iterable

TypeError: ignored



---


### **Convert float to list**

---

In [ ]:
# Input the float number 1.5

1.5

In [120]:
# Check the data type

type(1.5)

float

In [122]:
# Convert to list

list(1.5)

# The result will be an error because float object is not iterable

TypeError: ignored



---


### **Convert string to list**

---

In [123]:
# input the string 'Data Science'

'Data Science'

'Data Science'

In [124]:
# Check the data type

type('Data Science')

str

In [125]:
# Convert to list

list('Data Science')

# String elements will be broken down into per character

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

---
## **tuple()**
---

### *Convert to tuple*



---


### **Convert list to tuple (immutable)**

---

In [88]:
# Input the list [4,5,6]

[4,5,6]

[4, 5, 6]

In [86]:
# Check the data type

type([4,5,6])

list

In [87]:
# Convert to tuple

tuple([4,5,6])

(4, 5, 6)

In [90]:
# Check the data type for list to tuple conversion

type(tuple([4,56]))

tuple



---


### **Convert set to tuple (immutable)**

---

In [ ]:
# input the set {4,5,6}

{4,5,6}

In [126]:
# Check the data type

type({4,5,6})

set

In [127]:
# Convert to tuple

tuple({4,5,6})

(4, 5, 6)

In [128]:
# Check the data type for set to tuple conversion

type(tuple({4,5,6}))

tuple



---


### **Convert dictionary to tuple (immutable)**

---

In [166]:
# input the dictionary {'Job': "Data Scientist"}

{'Job': "Data Scientist"}

{'Job': 'Data Scientist'}

In [167]:
# Check the data type

type({'Job': "Data Scientist"})

dict

In [168]:
# Convert to tuple

tuple({'Job': "Data Scientist"})

# Dictionary contain key-value (only the key converted to tuple, the value will be empty)

('Job',)



---


### **Convert integer to tuple**

---

In [138]:
# Input the integer number 4

4

4

In [139]:
# Check the data type

type(4)

int

In [141]:
# Convert to tuple

tuple(4)

# The result will be an error because integer object is not iterable

TypeError: ignored

In [156]:
# To convert integer to tuple we can insert the integer into parentheses (), but at least consist of 2 integer

(4,5)

(4, 5)

In [157]:
# Check the data type

type((4,5))

tuple



---


### **Convert float to tuple**

---

In [ ]:
# Input the float number 1.5

1.5

In [142]:
# Check the data type

type(1.5)

float

In [143]:
# Convert to tuple

tuple(1.5)

# The result will be an error because float object is not iterable

TypeError: ignored

In [151]:
# To convert float to tuple we can insert the float into parentheses (), but at least consist of 2 floats

(1.5, 2.5)

(1.5, 2.5)

In [152]:
# Check the data type

type((1.5, 2.5))

tuple



---


### **Convert string to tuple**


---

In [159]:
# Input the string 'Data Science'

'Data Science'

'Data Science'

In [158]:
# Check the data type

type('Data Science')

str

In [160]:
# Convert to tuple

tuple('Data Science')

# String elements will be broken down into per character

('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

---
## **set()**
---

### *Convert to set*



---


### **Convert list to set**


---

In [91]:
# Input the list [4,5,6]

[4,5,6]

[4, 5, 6]

In [92]:
# Check the data type

type([4,5,6])

list

In [93]:
# Convert to set

set([4,5,6])

{4, 5, 6}

In [94]:
# Check the data type for list to set conversion

type(set([4,5,6]))

set



---


### **Convert tuple to set**


---

In [161]:
# Input the tuple {4,5,6}

{4,5,6}

{4, 5, 6}

In [162]:
# Check the data type

type({4,5,6})

set

In [163]:
# Convert to set

set({4,5,6})

{4, 5, 6}

In [164]:
# Check the data type for tuple to set conversion

type({4,5,6})

set



---


### **Convert dictionary to set**


---

In [169]:
# Input the dictionary {'Job': "Data Scientist"}

{'Job': "Data Scientist"}

{'Job': 'Data Scientist'}

In [170]:
# Check the data type

type({'Job': "Data Scientist"})

dict

In [171]:
# Convert to set

set({'Job': "Data Scientist"})

# Dictionary contains key-value (only the key converted to list)

{'Job'}

---
## **dictionary()**
---

### *Convert to dictionary*

#### For conversion to a dictionary, the data must meet the to-value requirements. Here are two example conversions:


* #### List of several Lists that contain value pairs into a dictionary
* #### As well as List conversion of multiple Tuples that contain value pairs into a dictionary



---


### **Convert list to dictionary**


---

In [97]:
# Input the list cointain value pairs [[4,5],[6,7]]

[[4,5],[6,7]]

[[4, 5], [6, 7]]

In [96]:
# Check the data type

type([[4,5],[6,7]])

list

In [98]:
# Convert to dictionary

dict([[4,5],[6,7]])

{4: 5, 6: 7}

In [99]:
# Check the data type for list to dictionary conversion

type(dict([[4,5],[6,7]]))

dict



---


### **Convert tuple to dictionary**


---

In [ ]:
# Input the tuple (('Job','Data Scientist'),('Salary','$ 10,000'))

((4,5),(6,7))

In [173]:
# Check the data type

type(((4,5),(6,7))
)

tuple

In [177]:
# Convert to dictionary

dict((('Job','Data Scientist'),('Salary','$ 10,000')))

{'Job': 'Data Scientist', 'Salary': '$ 10,000'}

In [179]:
# Check the data type for tuple to dictionary conversion

type(dict((('Job','Data Scientist'),('Salary','$ 10,000'))))

dict



---


### **Convert set to dictionary**

---

In [183]:
# Input the set {('Job','Data Scientist'),('Salary','$ 10,000')}

{('Job','Data Scientist'),('Salary','$ 10,000')}

{('Job', 'Data Scientist'), ('Salary', '$ 10,000')}

In [184]:
# Check the data type

type({('Job','Data Scientist'),('Salary','$ 10,000')})

set

In [185]:
# Convert to dictionary

dict({('Job','Data Scientist'),('Salary','$ 10,000')})

{'Job': 'Data Scientist', 'Salary': '$ 10,000'}

In [186]:
# Check the data type for set to dictionary conversion

type(dict({('Job','Data Scientist'),('Salary','$ 10,000')}))

dict

---
## **Exercise 3**
---

* ### Create a list containing another list (list in list) about "even numbers" and examples and change to dictionary!

* ### Create a tuple containing another tuple (tuple within a tuple) about "odd numbers" and examples (float)and convert to dictionary!

* ### Make a string whose contents are the date of birth plus the month of birth and change to float



---

* ### **Create a list containing another list (list in list) about "even numbers" and examples and change to dictionary!**

---

In [199]:
# input the list containing another list (list in list)about 'even numbers' : [["even_1", 16],["even_2",20]]

[["even_1", 16],["even_2",20]]

[['even_1', 16], ['even_2', 20]]

In [200]:
# Check the data type

type([["even_1", 16],["even_2",20]])

list

In [201]:
# Convert to dictionary

dict([["even_1", 16],["even_2",20]])

{'even_1': 16, 'even_2': 20}

In [ ]:
# Check the data type for list to dictionary conversion



---

* ### **Create a tuple containing another tuple (tuple within a tuple) about "odd numbers" and examples (float)and convert to dictionary!**

---

In [202]:
# Input the tuple containing another tuple (tuple within a tuple) about odd numbers: (('odd_1',17),('odd_2',21))

(('odd_1',17),('odd_2',21))

(('odd_1', 17), ('odd_2', 21))

In [203]:
# Check the data type

type((('odd_1',17),('odd_2',21)))

tuple

In [204]:
# Convert to dictionary

dict((('odd_1',17),('odd_2',21)))

{'odd_1': 17, 'odd_2': 21}

In [205]:
# Check the data type for tuple to dictionary

type(dict((('odd_1',17),('odd_2',21))))

dict



---

* ### **Make a string whose contents are the date of birth plus the month of birth and change to float**

---

In [206]:
# Input the string whose contents are the date of birth + the month of birth : '30.0+1.0'

'30.0+1.0'

'30 + 1'

In [208]:
# Check the data type

type('30.0+1.0')

str

In [209]:
# Convert to float

eval('30.0+1.0')

31.0

In [210]:
# Check the data type for string to float conversion