

---
# **Input and Output in Python**


---



---
## **Variable**


---


### A variable is a place (in computer memory) to store certain data type values. To assign a value to a variable, we use the "=" operator between the variable name and the value we want to store.

In [11]:
# Store the integer data 3 to the variable a

a = 3

In [4]:
# Store the float data 2.75 to the variable float

float = 2.75

In [3]:
# Store the string 'Data Science' to the variable b

b = 'Data Science'

In [5]:
# Store the list data [1,3,5,7,9] to the variable odd

odd = [1,3,5,7,9]

In [6]:
# Store the tuple data ('Data Engineer', 'Data Scientist', 'Data Analyst') to the variable job

job = ('Data Engineer', 'Data Scientist', 'Data Analyst')

In [7]:
# Store the set data {2,4,6,8,10} to the variable even

even = {2,4,6,8,10}

In [10]:
# Store the dictionary data {'Name': 'Trianto Haryo Nugroho', 'City': 'Bogor', 'Major': 'Actuarial Science'} to the variable profile

profile = {'Name': 'Trianto Haryo Nugroho', 'City': 'Bogor', 'Major': 'Actuarial Science'}



---

## **Print()**

---
### The print() function is the direct way of output to the console/screen.

In [16]:
# Print the integer output 99

print(99)

99

In [15]:
# Print the float output 2.75

print(2.75)

2.75

In [12]:
# Print the string output 'How are you?'

print('How are you?')

How are you?

In [14]:
# Print the list output [2,4,6,8,10]

print([2,4,6,8,10])

[2, 4, 6, 8, 10]

In [17]:
# Print the tuple output (1,3,5,7,9)

print((1,3,5,7,9))

(1, 3, 5, 7, 9)

In [18]:
# Print the set output {'apple', 'banana', 'orange'}

print({'apple', 'banana', 'orange'})

{'banana', 'orange', 'apple'}

In [20]:
# print the dictionary output {'Name': 'Trianto Haryo Nugroho', 'Grade': 'A', 'Score': 90}

print({'Name': 'Trianto Haryo Nugroho', 'Grade': 'A+', 'Score': 95})

{'Name': 'Trianto Haryo Nugroho', 'Grade': 'A+', 'Score': 95}



---
## **Inserting variable values ​​in strings**

---


### Python has several ways to enter a variable value in a string.



---


* ### Directly concatenate variables in a print () statement with this format:
### *print(variable)*

In [27]:
# Store the string data 'Back Yi Jin' in the variable 'Name'

name = 'Back Yi Jin'
age = 25
city = 'Seoul'

In [28]:
# Print the data of variable Name one by one

print(name)
print(age)
print (city)

Back Yi Jin
25
Seoul



---

* ### Print all of the data with the format:
### *print(string statement, variable)*

In [34]:
# Store severals string data to its variable

name = 'Back Yi Jin'
age = 25
city = 'Seoul'

In [35]:
# Print the data one by one with this formatting

print('My name:',name)
print('My age:',age)
print('My city:',city)

My name: Back Yi Jin
My age: 25
My city: Seoul



---


* ### Print all of the data with the format:
### *print(string statement 1, variable 1, string statement 2, variable 2, string statement 3, variable 3, etc)*

In [ ]:
# Store severals string data to its variable

name = 'Back Yi Jin'
age = 25
city = 'Seoul'

int

In [33]:
# print all of the data with this format

print('My name is',name,'\nMy age is',age,'\nI live in',city)

My name is Back Yi Jin
My age is 25
I live in Seoul



---


* ### Print the data one by one with the format:
### *print(string statement.format(variable))*

In [36]:
# Store severals string data to its variable

name = 'Back Yi Jin'
age = 25
city = 'Seoul'

In [38]:
# print the data one by one with this format

print('My name is {}'.format(name))
print('My age is {}'.format(age))
print('I live in {}'.format(city))

My name is Back Yi Jin
My age is 25
I live in Seoul



---


* ### Print the data one by one with the format:
### *print(string statement 1 %(data type), string statement 2 %(data type), and string statement 3 %(data type)' % (variable 1,variable 2,variable 3)*

* ### %d = integer
* ### %f = float
* ### %.2f = float with 2 decimal places
* ### %s = string

In [42]:
# Store severals string data to its variable

name = 'Back Yi Jin'
age = 25
city = 'Seoul'

In [43]:
# print all of the data with this format

print('My name is %s, my age is %d, and I live in %s' % (name,age,city))

My name is Back Yi Jin, my age is 25, and I live in Seoul

In [45]:
# print all of the data down with \n

print('My name is %s \nMy age is %d \nI live in %s' % (name,age,city))

My name is Back Yi Jin
My age is 25
I live in Seoul



---


* ### Store the data is the variable using input() and print the data one by one with the format:
### *variable = input('string statement: ')*
### *print(variable)

### Input:
#### To allow the user to provide input to your program, use the input() function, where the argument in brackets () is the text you want to display (the prompt) and the variable before the equal sign (=) is the resultant holder of the user's input. By default input is string.

In [47]:
# Store the data to the variable using input()

name = input('My name: ')

My name: Back Yi Jin

In [48]:
# Store the data to the variable using input()

age = input('My age: ')

My age: 25

In [49]:
# Store the data to the variable using input()

city = input('My city: ')

My city: Seoul



---


* ### Directly print the data one by one with input() with the format:
### *print(input('string statement: ')*

In [56]:
# print all of the data the data directly with input()

print(input('My name: '),input('My age: '), input('My city: '))

My name: Back Yi Jin
My age: 25
My city: Seoul
Back Yi Jin 25 Seoul



---
## **Exercise**
---
### Store and print this data using all of the ways above!

* #### My name (string)
* #### My age (integer)
* #### My height (float)



---

In [57]:
# Store severals string data to its variable

name = 'Trianto Haryo Nugroho'
age = 21
height = 175.5

In [58]:
# Print the data on by one using this format

print(name)
print(age)
print(height)

Trianto Haryo Nugroho
21
175.5

In [60]:
# Print the data on by one using this format

print('My name:',name)
print('My age:',age)
print('My height:',height)

My name: Trianto Haryo Nugroho
My age: 21
My height: 175.5

In [71]:
# Print all of the data extends to the right with this format

print('My name is',name,', I am',age,'years old',', and my height is',height,'cm')

My name is Trianto Haryo Nugroho , I am 21 years old , and my height is 175.5 cm

In [64]:
# Print the data down using this format

print('My name is',name,'\nMy age is',age,'\nMy height is',height)

My name is Trianto Haryo Nugroho
My age is 21
My height is 175.5

In [95]:
# print the data down with this format

print('My name is {}'.format(name))
print('I was {} years old'.format(age))
print('My height is {} cm'.format(height))

My name is Trianto Haryo Nugroho
I was 21 years old
My height is 175.5 cm

In [97]:
# print the data extends to the right with this format

print('My name is {}'.format(name),', I was {} years old'.format(age),'and my height is {} cm'.format(height))

My name is Trianto Haryo Nugroho , I was 21 years old and my height is 175.5 cm

In [85]:
# Print all of the data extends to the right with this format

print('My name is %s, my age is %d years old, and my height is %.1f cm' % (name,age,height))

My name is Trianto Haryo Nugroho, my age is 21 years old, and my height is 175.5 cm

In [86]:
# print all of the data down with \n with this format

print('My name is %s \nMy age is %d years old \nMy height is %.1f cm' % (name,age,height))

My name is Trianto Haryo Nugroho
My age is 21 years old
My height is 175.5 cm

In [87]:
# Store the data one by one using input() with this format

name = input('My name: ')
age = input('My age: ')
height = input('My height: ')

My name: Trianto Haryo Nugroho
My age: 21
My height: 175.5

In [92]:
# print all of the data directly extends to the right with this format

print('My name is',input('My name: '),',my age is',input('My age: '),'years old', ', and my height is',input('My height: '),'cm')

My name: Trianto Haryo Nugroho
My age: 21
My height: 175.5
My name is Trianto Haryo Nugroho ,my age is 21 years old , and my height is 175.5 cm

In [94]:
# print all of the data directly down with this format

print('\nMy name is',input('My name: '),'\nMy age is',input('My age: '),'years old', '\nMy height is',input('My height: '),'cm')

My name: Trianto Haryo Nugroho
My age: 21
My height: 175.5

My name is Trianto Haryo Nugroho
My age is 21 years old
My height is 175.5 cm